# Copy to .env for local Playwright / axe / UAT screenshot runs (AC-21 / AC-22).
# NC_E2E_* — any logged-in user that can open InventoryCheck.
# NC_ADMIN_* — NC admin (settings / license / Support & Us).

NC_BASE_URL=http://localhost:8081
NC_E2E_USER=aristoteles-e2e
NC_E2E_PASS=
NC_ADMIN_USER=admin
NC_ADMIN_PASS=
